@import "../../.cache/wal/colors-waybar.css";
* {
    font-family: "Geist Sans";
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

window#waybar {
    background: transparent;
    color: @foreground;
}

#workspaces {
    border-radius: 10px;
    padding: 0 2px;
    margin: 4px;
}

#workspaces button {
    color: transparent;
    font-size: 0px;
    min-width: 20px;
    min-height: 12px;
    background-color: alpha(@color4, 0.5);
    border-radius: 12px;
    margin: 2px 4px;
    padding: 0;
    transition: all 0.15s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
    color: @foreground;
    font-size: 14px;
    font-weight: bold;
    min-width: 35px;
    background: alpha(@color14, 0.5);
    border-radius: 10px;
    padding: 0 8px;
}

#workspaces button:hover {
    background-color: @color1;
    min-width: 20px;
}

#workspaces button.active:hover {
    background: alpha(@color14, 0.5);
    min-width: 35px;
}

#hardware,
#center,
#tools {
    background: alpha(@color14, 0.3);
    margin: 2px;
    border-radius: 10px;
}

#tray {
    background: alpha(@color14, 0.3);
    border-radius: 10px;
    margin: 2px;
    padding: 0 4px;
}

#tray > * {
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

#hardware {
    margin-right: 8px;
}

#network,
#battery,
#backlight,
#pulseaudio,
#custom-updates,
#custom-notification,
#clock,
#mpris,
#custom-weather {
    color: @foreground;
    margin: 0 4px 0 0;
    padding: 0 8px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#pulseaudio {
    margin-right: 2px;
    padding-right: 10px;
}

#mpris {
    margin-right: 0;
}

#network:hover,
#battery:hover,
#pulseaudio:hover,
#backlight:hover,
#clock:hover,
#mpris:hover,
#custom-weather:hover,
#custom-updates:hover,
#custom-notification:hover {
    background: @color7;
    color: @background;
}

tooltip,
menu {
    background: alpha(@background, 0.85);
    border-radius: 12px;
    box-shadow: none;
}

tooltip label {
    color: @color7;
    padding: 8px;
}

window.popup decoration {
    box-shadow: none;
    border: none;
}
